.par_the_s {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

table {
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 70px;
    color: white;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
        flex-direction: row;
        gap: 10px;
}

tr {
    width: 150px;
    height: 150px;
    background-color: #1e1e1e;
}

td {
    width: 150px;
    height: 150px;
}


.arrow {
    display: flex;
    justify-content: flex-start;
    width: 40px;
}

.arrow_tail {
    width: 2px;
    height: 20px;
    background-color: white;
    transform: rotate(90deg) translate(0px, -30px);

}

.arrow_head {
    width: 9px;
    height: 9px;
    background-color: #ffffff00;
    border-left: solid 2px white;
    border-bottom: solid 2px white;
    transform: translate(11px, 4px) rotate(45deg);
}


.for-X {
    text-shadow: 1px 1px 10px red;

}

.for-o {
    text-shadow: 1px 1px 10px #000dff;

    }


.the-end {
width: 400px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(164, 238, 238);
    border: solid #a4eeee 2px;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 54px;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0px 0px 16px 15px #a4eeee;
    text-shadow: 5px 5px 12px;
    flex-direction: column;
    gap: 20px;
    animation: theend 10s infinite alternate-reverse;
}

@keyframes theend {
    25%{
    background-color: rgb(245, 50, 255);
    border: solid rgb(245, 50, 255) 2px;
    box-shadow: 0px 0px 16px 15px rgb(245, 50, 255);

    }

    50%{
        background-color: rgb(87, 255, 154);
            border: solid rgb(87, 255, 154) 2px;
            box-shadow: 0px 0px 16px 15px rgb(87, 255, 154);

    }

    75%{
background-color: rgb(255, 36, 40);
    border: solid rgb(255, 36, 40) 2px;
    box-shadow: 0px 0px 16px 15px rgb(255, 36, 40);
    }

    100%{
background-color: rgb(222, 36, 255);
    border: solid rgb(222, 36, 255) 2px;
    box-shadow: 0px 0px 16px 15px rgb(222, 36, 255);
    }
}



.final-button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: solid 2px #450a45;
    box-shadow: 5px 4px 5px 1px;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.final-button:hover {
    border: solid 2px #450a45;
    box-shadow: 0px 0px 0px 0px;

}

.top-of-the-table {
    display: flex;
    flex-direction: row-reverse;
    gap: 312px;
    justify-content: center;
    align-items: center;
}


.chnge_Mood {
    width: 100px;
    height: 30px;
    background-color: #ffffff42;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: solid 1px #9400ff;
    box-shadow: 0px 0px 7px 4px #9400ff;
}

.chnge_Mood div {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
}

img {
    width: 30px;
}

.with-friend {
    border-right: solid 1px;

}

.with-computer {
    border-left: solid 1px;
}

.chnge_Mood div:hover {
    animation: hovrenig 0.5s 1 forwards;
}

@keyframes hovrenig {
    100% {
        background-color: rgb(240, 248, 255);
    }
}

.choose_mood_alert{
    width: 312px;
    height: 52px;
    background-color: #0e0e0e;
    border: solid 2px #5f0000;
    border-radius: 26px;
    box-shadow: 0px 0px 15px 5px #5f0000;
    transform: translate(74px, 10px);
    font-size: 17px;
    color: white;
    text-align: center;
    font-family: "Audiowide", sans-serif;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
}

@keyframes alert {
    100%{
        transform: translate(74px, 10px) scale(0.5);
    }
}

@keyframes chngecolore_red {
  100%{
background-color: rgb(234, 1, 1);
    box-shadow: rgb(255, 29, 29) 0px 0px 15px 5px;
  }  
}                                                            

@keyframes chngecolore_blue {
    100%{
background-color: rgb(16, 1, 234);
    box-shadow: rgb(44, 29, 255) 0px 0px 15px 5px;
    }
    
}

.chngecolore_red{
animation: chngecolore_red  2s forwards 1  ;
}

.chngecolore_blue{
animation: chngecolore_blue 1 2s forwards ;
}
